.app-box {
    border: 1px solid #000;
    width: 100%;
    max-width: 400px;
    /* Define uma largura máxima */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-box-top {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.app-box-bottom {
    width: 100%;
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.app-box-bottom p {
    margin: 0 0 10px 0;
}

.app-box-bottom button {
    padding: 10px;
    border-radius: 5px;
}

.containerBox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.childBox {
    margin-right: 10px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    .app-box {
        width: 100%;
        max-width: 100%;
        /* Permite que a caixa se expanda para a largura total da tela em dispositivos móveis */
    }

    .app-box-top {
        height: 150px;
        /* Reduz a altura em dispositivos móveis */
    }

    .containerBox {
        padding: 0 10px;
        /* Adiciona algum padding em dispositivos móveis */
    }
}