.group {
  position: relative;
  margin-bottom: 25px;
  /* Espaço entre grupos para evitar sobreposição de labels */
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  padding: 60px 40px 90px;
  background-color: black;
  border-radius: 20px;
}

.form p {
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: .5px;
  color: white;
}

.main-input {
  font-size: 16px;
  padding: 10px 20px 10px 5px;
  display: block;
  width: 185px;
  border: none;
  border-bottom: 1px solid #6c6c6c;
  background: transparent;
  color: #ffffff;
}

.main-input:focus {
  outline: none;
  border-bottom-color: #1ce8ff;
}

.label-email {
  color: #999999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.label-email-hidden {
  top: -20px;
  font-size: 14px;
  color: #1cceff;
}

.main-input:focus~.label-email,
/* Correção da digitação */
.main-input:valid~.label-email {
  top: -20px;
  font-size: 14px;
  color: #1cceff;
}

.highlight-span {
  position: absolute;
  height: 60%;
  width: 0px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.main-input:focus~.highlight-span {
  animation: input-focus 0.3s ease;
}

@keyframes input-focus {
  from {
    background: #1ce8ff;
  }

  to {
    width: 185px;
  }
}

.submit {
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  transition: all .3s;
}

.submit:active,
.submit:hover {
  outline: 0;
}

.submit span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  transition: 300ms;
}

.submit:hover span {
  background: none;
}

.submit:active {
  transform: scale(0.9);
}


.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}


.successMessage {
  padding-bottom: 20px;
  font-size: 16px;
  /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: normal;
  /* Ajuste o peso da fonte conforme necessário */
  letter-spacing: .3px;
  /* Ajuste o espaçamento das letras conforme necessário */
  color: rgb(75, 251, 17);
  text-align: center;
  margin-bottom: 10px;
}

.backToLogin {
  text-align: center;
  margin-top: 50px;
  /* Ajuste o preenchimento conforme necessário */
}

.backToLogin span {
  cursor: pointer;
  color: #0033ff;
  font-size: 15px;
  /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: normal;
  /* Ajuste o peso da fonte conforme necessário */
  letter-spacing: .3px;
  /* Ajuste o espaçamento das letras conforme necessário */
  text-decoration: underline;
  /* Adicionei sublinhado para indicar que é um link clicável */
}

.backToLogin span:hover {
  color: #1cceff;

  /* Escolha a cor que deseja */
}

.backToLogin span {
  transition: color 0.3s ease;
  /* Adiciona uma transição suave à mudança de cor */
}

.backToLogin span:hover {
  font-size: 18px;
  /* Ajuste o tamanho conforme necessário */
}


.resetLink {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  /* Ajuste conforme necessário */
  color: #37ff1c;
  /* Ajuste conforme necessário */
  text-decoration: underline;
  /* Ajuste conforme necessário */
  cursor: pointer;
  font-size: 14px;
  /* Ajuste conforme necessário */
}