.title {
    color: #f6f3df; /* Cor dourada */
    position: relative; /* Relativo para a pseudo-classe ::before */
    background-image: linear-gradient(#ffd700, #b8860b); /* De um dourado claro para um dourado escuro */
    padding: 0.2em 0.5em; /* Padding para o texto */
    border-radius: 5px; /* Arredondamento de borda */


transition-duration: .3s;
  position: relative; /* Isso permitirá que os elementos absolutos se posicionem em relação a este botão */
  overflow: hidden;   /* Isso evitará que o conteúdo se estenda para fora dos limites do botão */
  

}

.title::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: -100%; /* Inicie fora do elemento à esquerda */
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    transform: skewX(-20deg);
    
        animation: sh02 2s 3; /* Repete a animação duas vezes */
    }
    
  
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  