.buttons__burger {
    position: absolute;

    left: -10px;
    --size: 3rem;
    --clr: #020202;
    width: var(--size);
    height: calc(0.7 * var(--size));
    cursor: pointer;
    position: relative;
    display: block;
    transition: left 0.3s ease;
    background-color: rgba(242, 242, 242, 0.698);
    /* Adicionado um fundo branco semi-transparente */
    border-radius: 0.5rem;
    border: 3px solid rgba(156, 154, 154, 0.497);

}


.buttons__burger--left {
    left: 100px;
    cursor: pointer;
    border-radius: 9px;
    box-shadow: none
        /* Esta classe será adicionada condicionalmente para mover o botão para a esquerda */
}

.buttons__burger #burger {
    display: none;
    width: 100%;
    height: 100%;

}

.buttons__burger span {
    border: 10px solid var(--clr);
    display: block;
    position: absolute;
    width: 100%;
    border-radius: 0.5rem;
    border: 3px solid var(--clr);
    background-color: var(--clr);
    transition: 0.15s ease-in-out;
}

.buttons__burger span:nth-of-type(1) {
    top: 0;
    left: 0;
    transform-origin: left center;

}

.buttons__burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.buttons__burger span:nth-of-type(3) {
    top: 100%;
    left: 0;
    transform-origin: left center;
    transform: translateY(-100%);
}

.buttons__burger #burger:checked~span:nth-of-type(1) {
    transform: translateY(-30%) rotate(-40deg);
    width: 50%;
    top: 50%;
}

.buttons__burger #burger:checked~span:nth-of-type(3) {
    transform: translateY(-80%) rotate(40deg);
    width: 50%;
    top: 50%;
}

.menu {
    position: fixed;
    top: 0px;
    left: 10px;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    /* Adicionado uma z-index alta */
}



.menu--visible {
    background: #212121;
    color: white;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(60, 60, 60);

    /* Adicionado para mostrar o menu quando isMenuVisible é verdadeiro */
}

.menu ul {
    list-style-type: none;
    margin-top: 50px;
    margin-bottom: 20em;

    /* Adicione uma margem em torno do ul */
}

.menu li {
    padding: 8px 0;
}


.rainbow-hover {
    font-size: 16px;
    font-weight: 700;
    color: #ff7576;
    background-color: #2B3044;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
    position: relative;
    line-height: 24px;
    border-radius: 9px;
    box-shadow: 0px 1px 2px #2B3044,
        0px 4px 16px #2B3044;
    transform-style: preserve-3d;
    transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
    perspective: 600px;
    transition: transform 0.1s;
    bottom: -290px;
}

.sp {
    background: #2cca91;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: block;
}

.rainbow-hover:active {
    transition: 0.3s;
    transform: scale(0.93);
}

.button1 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button1 svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button1 span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button1:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.button1:hover span {
    transform: translateX(7px);
}

.button1:active {
    background: linear-gradient(to right, #0a081d, #211d44, #1a1a2a);
    transform: scale(0.98);
}

.button1:active svg {
    transform: translateX(2px) rotate(60deg);
}

.button1:active span {
    transform: translateX(3px);
}



.button2 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.button2 svg {
    margin-right: 3px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button2:active {
    background: linear-gradient(to right, #0a081d, #211d44, #1a1a2a);
    transform: scale(0.98);
}

.button2:active svg {
    transform: translateX(2px) rotate(60deg);
}

.button2:active span {
    transform: translateX(3px);
}